
aside button{
    width: 30%;
}

footer{
    clear: both;
}

.floatRight{
    float: right;
    margin: 0;
}

.bold{
    font-weight: bold;
}

.clear{
    clear: right;
}

#abbreviateViewPort{
    background-color: coral;
    width: 80%;
    margin: auto;
}

#tableLayout{
    background-color: firebrick;
}

ul{
    list-style-type: none;
}

li a, ul li{
    display: block;
    float: left;
    overflow: hidden;
}

ul li{
    padding: 10px;
}

ul{
    display: block;
}

nav, hr, article {
    clear: both;
}

.footer{
    display: inline;
}

table, td, th{
    border:thin solid black;
}